@{
    ViewBag.Title = "SQL 2016 Demo Home";
}
<div class="row">
    <div class="col-md-4">
        <h2>Employees List</h2>
        <p>
            Bring up a list of Employees to be reviewed and modified
        </p>
        <p><a class="btn btn-default" href="/Employees">Do Work &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Encrypted Employees List</h2>
        <p>
            Bring up a list of Employees that have been encrypted uysing AlwaysOn to be reviewed and modified
        </p>
        <p><a class="btn btn-default" href="/EmployeeEncrypts">Do Work &raquo;</a></p>
    </div>
</div>
<div class="jumbotron">
    <h1>SQL Server 2016: Temporal Data</h1>
    <p class="lead">SQL Server 2016 introduces support for system-versioned temporal tables as a database feature that brings built-in support for providing information about data stored in the table at any point in time rather than only the data that is correct at the current moment in time. Temporal is a database feature that was introduced in ANSI SQL 2011 and is now supported in SQL Server 2016.</p>
    <p><a href="https://msdn.microsoft.com/en-us/library/dn935015.aspx" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="jumbotron">
    <h1>SQL Server 2016: Always Encrypted</h1>
    <p class="lead">Always Encrypted is a feature designed to protect sensitive data, such as credit card numbers or national identification numbers (e.g. U.S. social security numbers), stored in Azure SQL Database or SQL Server databases. Always Encrypted allows clients to encrypt sensitive data inside client applications and never reveal the encryption keys to the Database Engine (SQL Database or SQL Server). As a result, Always Encrypted provides a separation between those who own the data (and can view it) and those who manage the data (but should have no access). By ensuring on-premises database administrators, cloud database operators, or other high-privileged, but unauthorized users, cannot access the encrypted data, Always Encrypted enables customers to confidently store sensitive data outside of their direct control. This allows organizations to encrypt data at rest and in use for storage in Azure, to enable delegation of on-premises database administration to third parties, or to reduce security clearance requirements for their own DBA staff.</p>
    <p><a href="https://msdn.microsoft.com/en-US/library/mt163865.aspx" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

